html, body {
    font-family: 'Lato';
    background-color: white;
}

#viewtitle {
  color: #00ffff;
  font-size: medium;
}

#header {
  background: darkblue;
  padding: 10px;
}

#body {
  padding-bottom: 47px;
}
/*
#footer {
  position: absolute;
  bottom: 0;
  padding-top: 5px;
  padding-left: 10px;
  height: 47px;
  background: #396C4B;
}*/
#footer {
  position: absolute;
  bottom: 0;
  background: #396C4B;
  padding: 10px;
}

.card {
  border: 3px solid green;
}

.hidden {
  display: none;
}

.content {
  word-wrap: normal;
  color: #39dd11;
  font-family: serif;
  font-size: inherit;
}

.title {
  border: 3px solid royalblue;
  border-radius: 10px;
  font-size: 22px;
}

.blackground {
  background-color: black;
}

.copyright {
  font-style: italic;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
}
